.npm
.git
node_modules/
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip
*.rar
*.7z
*.mp3
*.mp4
*.avi
*.mkv
*.flv
*.mov
*.wmv
*.mpg
*.mpeg
*.rm
*.rmvb
*.ogv
*.ogg
*.webm
*.png
*.gif
*.jpg
*.jpeg
.env
plugins/cache/*
!plugins/cache/README.txt
core/var/data/cache/*
!core/var/data/cache/README.txt
core/var/data/*.json
fbstate.json
*.bak
!core/var/assets/*
!core/var/assets/levelup_gifs/*
plugins/commands/dev

core/var/assets/links.bak.json
core/var/assets/links.json

backup
appstate.json
